extends layout

block scripts
  script(type='text/javascript' src='/staging/javascripts/bjqs-1.3.min.js')
  script(type='text/javascript' src='/staging/javascripts/slider.js')

block content
  header.header
    div.empty-column
    div.text-vertical-center.col-xs-12.col-md-8
      div.title Empowering the next generation of Stanford student innovators and entrepreneurs
      div.description
        | The Business Association of Stanford Entrepreneurial Students (BASES) is at the heart of student entrepreneurship at Stanford University. As one of the premiere student-run entrepreneurship organizations in the world, BASES promotes entrepreneurship education at Stanford University in order to empower the next generation of entrepreneurs. We work with exceptional students, prominent professors, and thought leaders to unite the worlds of innovation, academia and industry.
      button#contact-btn.btn-transparent Contact
    div.empty-column
  div#category-bg.bg-wrapper
    div.container
      for category in categories
        div(id='#{category.id}' class='category section')
          div.title #{category.title}
          div.subtitle #{category.subtitle}
          div.container-fluid
            div.description.col-md-9 #{category.description}
              div.learn-container
                button(id='#{category.id}-learn-btn' class='btn-transparent') Learn more
            div.col-md-3
              img(src='/staging/images/friends.jpg')
  section#speakers.slideshow.full-height
    ul.bjqs
      li#thiel.speaker
        div
          div
            div.content Brilliant thinking is rare, but courage is in even shorter supply than genius.
              div.author Peter Thiel
              div.title Founder, Paypal
      li#thiel.speaker
        div
          div
            div.content Brilliant thinking is rare, but courage is in even shorter supply than genius.
              div.author Peter Thiel
              div.title Founder, Paypal
      li#thiel.speaker
        div
          div
            div.content Brilliant thinking is rare, but courage is in even shorter supply than genius.
              div.author Peter Thiel
              div.title Founder, Paypal
  div#contact-bg.bg-wrapper
    div.container
      div.contact.text-center.section
        div.title Contact
        div.container-fluid
          div.col-md-4
            div.heading Companies
            div.info #[a(href='#') Learn more] about BASES Sponsorship
          div.col-md-4
            div.heading Students
            div.info Email Christine Quan at #[a(href='mailto:christine.quan@stanford.edu') christine.quan@stanford.edu]
          div.col-md-4
            div.heading General Community Members
            div.info #[a(href='') Subscribe] to the weekly digest